<%- layout('layout.ejs') %>

<section class="container mt-4">
    <h3 class="mb-4">Recent Comments</h3>
    <div class="row">
        <% for (let comment of comments) { %>
            <div class="col-md-6">
                <%- include('../partials/comment-card.ejs', { comment }) %>
            </div>
        <% } %>
    </div>
</section>