<%- layout("/newWeb/layout.ejs") %>

<h3>Name of my Project</h3>

<div class="container">
    <a href="/users">All Users</a> <br>
    <a href="/comments">All Comments</a> <br>
    <a href="/posts">All Posts</a>
</div>