<% layout('layout.ejs') %>

<%- include('./partials/success-flash.ejs', { success }) %>
<%- include('./partials/error-flash.ejs', { error }) %>

<div class="container mt-5 alert alert-danger w-50" role="alert">
    <h4 class="flex alert-heading">
        <%= err.status + ' - ' + err.message %>
    </h4>
    <%= err.stack %>
</div>