<!--to render all posts in the main page-->
<% layout('/newWeb/posts/layout.ejs') %>

<%- include('../partials/successFlash.ejs', { success }) %>
<%- include('../partials/errorFlash.ejs', { error }) %>

<section class="container">
    <% for (const post of postData){ %>
        <%- include('../partials/posts/shortPostCard',{post}) %>
        <br>
    <% }%>
</section>

