<!--to render all posts in the main page-->
<% layout('/posts/layout.ejs') %>

<%- include('../partials/success-flash.ejs', { success }) %>
<%- include('../partials/error-flash.ejs', { error }) %>

<section class="container">
    <% for (const post of postData){ %>
        <%- include('../partials/posts/short-post-card',{post}) %>
        <br>
    <% }%>
</section>

